* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: #eee;
}
section {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 5rem 0;
}

/* ---- Home Section ---- */
.home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(201, 202, 211, 0.705),
      rgba(66, 5, 51, 0.904)
    ),
    url("/images/Banner.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home h3 {
  font-size: 4rem;
  font-family: "Playwrite PE", cursive;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
.home h1 {
  font-size: 13rem;
  color: #000;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  text-align: center;
}
.home p {
  font-size: 1.7rem;
  width: 50%;
  margin: 2rem auto;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
}

/* ---- Places Section ----- */
.places {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 4rem;

}
.placeImg img {
    width: 100%;
    border-radius: 6px;
}
.placeHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}
.placeHeading h3 {
    font-size: 3rem;
    font-family: "Playwrite PE", cursive;
    margin-bottom: 5px;
}
.placeHeading h1 {
    font-size: 7rem;
}
.placeHeading p {
    font-size: 1.6rem;
    width: 50%;
    text-align: center;
    margin: 10px;
}
.place {
    border-radius: 8px;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
}
.placeInfo {
    padding-top: 1rem;
}
.placeInfo h3 {
    font-size: 2.2rem;
}
.placeInfo div {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.placeInfo div p {
    font-size: 1.5rem;
    width: 74%;
}
.placeInfo div button {
    padding: 7px 1rem;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}
/* ---- Contact Section ---- */
.map {
  width: 1280px;
  margin: auto;
}